// Enable typed processes
nextflow.preview.types = true

// Set metadata for the pipeline
manifest {
    contributors = [
        [name: "Leon Wang", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""],
        [name: "Kathleen Zeglinski", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""]
    ]
    description = "Preprocessing of antibody sequences"
    homePage = ""
    mainScript = "main.nf"
    nextflowVersion = ">=25.10.0"
    version = "v1.0.0"
}

// Default parameters
params {
	read_files = "${projectDir}/data/*.fastq"
	phagemid_ref = "${projectDir}/data/reference_files/fab_phagemid.fa"
	matchbox_script = "${projectDir}/bin/antibody_preprocess.mb"
    output_dir = "results"
    help = false
    enable_conda = false
}

// Assign different processing capacities
process {
    withLabel: process_tiny {
        cpus = 1
        memory = 1.GB
    }

    withLabel: process_low {
        cpus = 2
        memory = 6.GB
    }

    withLabel: process_medium {
        cpus = 4
        memory = 16.GB
    }

    withLabel: process_high {
        cpus = 8
        memory = 24.GB
    }
}

// Configure different profiles 
profiles {
    // the "standard" profile is used implicitely by nextflow
    standard {
        process.executor = 'local'
        singularity.enabled = false
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
            runOptions= '-v $HOME:$HOME'
        }
    }

    // singularity + slurm profile
    wehi {
        executor {
            name = 'slurm'
            queueSize = 100
            queueStatInterval = 10.sec
            pollInterval = 10.sec
            submitRateLimit = 10.sec
        }
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext'
        }
    }

    // Conda profile
    conda {
        docker.enabled = false
        conda {
            enabled = false
            cacheDir = ""
            useMamba = true
        }
    params.enable_conda = true
    }

    // local singularity profile
    singularity {
        process.executor = 'local'
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext -B /wehisan'
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}
workDir = "${projectDir}/work"
// The output directory for workflow results
outputDir = "${params.output_dir}"