// Enable typed processes
nextflow.preview.types = true

// Set metadata for the pipeline
manifest {
    contributors = [
        [name: "Leon Wang", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""],
        [name: "Kathleen Zeglinski", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""]
    ]
    description = "Preprocessing of antibody sequences"
    homePage = ""
    mainScript = "main.nf"
    nextflowVersion = ">=25.10.2"
    version = "v1.0.0"
}

// Pipeline parameters
params {
	read_files = "${projectDir}/data/*.fastq"
	phagemid_ref = "${projectDir}/data/reference_files/fab_phagemid.fa"
	matchbox_path = "${projectDir}/matchbox/matchbox"
	// matchbox_path=/vast/projects/antibody_sequencing/matchbox/target/release/matchbox
	matchbox_antibody_preprocess_script = "${projectDir}/matchbox/antibody_preprocess.mb"
	// matchbox_script=/vast/projects/antibody_sequencing/PC008/antibody_preprocess.mb
}

// Enable conda
conda {
    enabled = false // required for 22.08
    cacheDir = ""
    useMamba = true
}

//
docker.enabled = true

// The output directory for workflow results
outputDir = "results"

singularity {
    autoMounts = false
}